html{
	background-color: #FFB6C1;
}
header{
	background-color: lightblue;
	padding:20px;
	color:black;
	background-image: linear-gradient(#FFB6C1,lightblue, #FFB6C1)
}
body{
	margin: 0 auto;
	width: 80%;
	max-width: 60em;
}

footer{
	background-color: lightblue;
	color:white;
	background-image: linear-gradient(#FFB6C1,lightblue, #FFB6C1)
}


nav{
	color:black;
} 

section{
	background-image: linear-gradient(#FFB6C1,lightblue, #FFB6C1)
}
.menu{
	float:right;
	color:white;
}

.bla{
	float:right;
	color:yellow;
}
.footer{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	border: 0px;
}

