html{
    background-color: #0066ff;    
}

body{
    max-width:100%;
    margin: 0 auto;
    
}
h4{
    color: gold;
    text-align: left;
}

header{
    background-color: #0066ff;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    height: 100px;
    max-width: 60em;
}

div{

}
menu{
    text-align: right;
    color: white;
}

section{
    background-color: #ffec80;
    padding-bottom: 340px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.right{
    display: block;
    background-image: linear-gradient(#fff7cc, #ffec80);
    padding-left: 30%;
    padding-right: 10%;
}

.left{
    display: block;
    background-image: linear-gradient(#fff7cc, #ffec80);
    padding-right: 30%;
    padding-left: 5%;
}

h2{

}

blockquote{
    width: 40em;
    background-color: #fff7cc;
    padding-bottom: 10px;
    border-radius: 15px;
    padding-top: 5px;
    padding-left: 1em;
}

b{
    color: blue;
}

li{
    color: blue;
}