
h1{color: blue;
	

}

a:link {
    color: green;
}


a:visited {
    color: green;
}


a:hover {
    color: red;
}


a:active {
    color: yellow;
} 

h2{color: darkred;


}
span{color:red;

}


strong{color: red;

}

em{color: blue ;


}
ul{color: green ;

}

body{margin: 0 auto;
	width: 800px;

}