body{
	width: auto;
	margin:0 auto;
}
.a{
	margin-bottom: 50px ;
}

.b{
	margin-bottom: 30px ;

}
.c{

}

.block{
	display: block;
	padding:1em;
	margin:1em;
	border:3px dashed green;

}

.in-line{
	display: inline;
	padding:1em;
	margin:1em;
	border:3px dashed blue;
	color:red;

}

.in-line-block{
	display: inline-block;
	padding:1em;
	margin:1em;
	border:3px dashed red;

}








































