head{
	
}
body{
	max-width: 100%;
	margin:0 auto;
	width: 70em;
}
/*
Stílar fyrir boxin
*/
.vef {
	border: solid;
	border-radius: 3px;
	border-color: black;
	padding: 20px;
	float:left;
}
.ummig{
	border: solid;
	border-radius: 3px;
	border-color: black;
	padding: 20px;
	float:left;
}
 .ahugamal {
	border: solid;
	border-radius: 3px;
	border-color: black;
	padding: 20px;
	float:left;
}
.verkefni{

	border: solid;
	border-radius: 3px;
	border-color: black;
	padding: 20px;
	float:left;
}
.utan1{
	grid-auto-columns: 1fr 1fr;
}
.utan2{
	grid-auto-columns: 1fr 1fr;
}
footer{
	
}
/*
Stílar fyrir menu
*/
ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li {
	display: inline-block;
}

.bla1{
	border: solid black 1px;
}
 .bla2{
	border: solid black 1px;
}
.bla3{
	border: solid black 1px;
}
 .bla4{
	border: solid black 1px;
}